{% extends '@CMS/admin.html.twig' %}

{% block title %}{{ 'Structure'|trans }} / {{ parent() }}{% endblock %}

{% block page_header %}
    {{ 'Structure'|trans }}
{% endblock %}

{% block page_description 'Управление папками, нодами и областями' %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('bundles/cms/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/cms/css/vendor.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cms/bundle/bundle.js') }}"></script>
    <script>
      window.__sendNotice = function (type, message) {
        new PNotify({
          title: message,
          type: type
        });
        setTimeout(function () {
          document.querySelector('.featherlight-close').click();
        }, 500);

        var event = new Event('change:structure');
        document.dispatchEvent(event);
      };

      window.__closeIframe = function () {
        document.querySelector('.featherlight-close').click();
      };
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-xs-12">
         {{ include('@CMS/Admin/Structure/_mega_structure.html.twig') }}
    </div>
    <div class="col-md-6 col-xs-12" style="position: sticky; top: 10px;">
    {% if not app.request.query.has('_overlay') %}
        <div class="structure-menu">
            {{ knp_menu_render('CMSBundle:AdminMenu:structure', {'currentClass': 'active'})  }}
        </div>
        <style>
            .structure-menu .nav > li > a {
                padding: 5px;
                font-size: 13px;
            }
            .structure-menu .nav-tabs {
                border: 0;
            }
        </style>
    {% endif %}
    {% if app.request.requestUri == path('cms_admin_structure') %}
        <div class="control-panel" style="border-radius: 3px;">
            {#<a id="multiple-control" class="fa fa-2x fa-square-o" href="" title="Множественное изменение объектов структуры"></a>#}
            {#<a id="expand" class="fa fa-2x fa-expand" href="" title="Развернуть дерево"></a>#}
            <a href="#" id="dnd-true" style="color: white" class="btn btn-primary">Включить drag'n'drop</a>
            <a href="#" id="create-folder" style="color: white" class="btn btn-primary">Создать раздел</a>
            <a href="#" id="plug-module" style="color: white" class="btn btn-primary">Подключить модуль</a>
        </div>
    {% endif %}
    </div>
</div>

{% endblock content %}
