
{% extends '@CMS/Admin/User/index.html.twig' %}

{% block title %}{{ 'Create user'|trans }} / {{ parent() }}{% endblock %}

{% block content_admin_users %}
    <h3>{{ 'New user'|trans }}</h3>

    <form action="" enctype="multipart/form-data" method="POST" class="form-horizontal well">
        {{ form_widget(form) }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" name="create" class="btn btn-success"><i class="icon-ok icon-white"></i><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ 'Create'|trans }}</button>
                <a class="btn btn-default cms-cancel" href="{{ path('cms_admin_user') }}">{{ 'Cancel'|trans }}</a>
            </div>
        </div>
    </form>
{% endblock  %}
