{% extends '@CMS/Admin/User/index.html.twig' %}

{% block title %}{{ 'Users'|trans }} / {{ parent() }}{% endblock %}

{% block content_admin_users %}
    <div class="box-header with-border">
        <a href="{{ path('cms_admin_user_group_create') }}" class="btn btn-success" style="float: right;">
            <i class="icon-plus icon-white"></i><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            {{ 'Create'|trans }}
        </a>

        <h3 class="box-title">{{ 'Groups'|trans }}</h3>
    </div>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>#</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Users count'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for e in groups %}
            <tr>
                <td>{{ e.id }}</td>
                <td><a href="{{ path('cms_admin_user_group_edit', {'id': e.id}) }}">{{ e.title }}</a></td>
                <td><a href="{{ path('cms_admin_user_group_edit', {'id': e.id}) }}">{{ e.name}}</a></td>
                <td>{{ e.position }}</td>
                <td>{{ cms_users_count_in_group(e) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
